*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aldrich", serif;    
    line-height: 1.8em;
    scroll-behavior: smooth;
    
}

body{
    background-color: #1f242d;
    color: azure;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    position: relative;
    left:0 ;
    top:0 ;
    width:100% ;
    padding: 25px 9px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-right: 100px;
}

.logo{
    /* font-size: 50px; */
    /* font-weight: 700; */
    background-color: #7cf03d;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: #7cf03d;
}

.para{
    padding: 50px;
}

.Home{
    display: flex;
    align-items: center;
    height: 850px;
    color: white;
    padding: 60px 9% ;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size: 32px;
    margin-top: 10px;
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px ;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #7cf03d;
    background-color: #7cf03d;
    border-radius: 30px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 1s;
}

.btn:hover{
    background-color: #1f242d;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .sci{
    margin-left: 20px;
}

.home-info .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50px;
    font-size: 20px;
    color: #7cf03d;
    margin: 8px;
    transition: 1s;
}

.home-info .sci a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box{
    width: 20vw;
    height: 20vw;
    background-color: #7cf03d;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 320px;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 30px;
    font-size: 50px;
    
}

.project-container button{
    background-color: #7cf03d;
    width: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #7cf03d;
}

.project-container button:hover{
    background-color: #1f242d;
    color: white;
    transform: scale(1.1);
    transition: .5s;
    box-shadow: none;
}

.About h2{
    box-shadow: 0px 0px 10px #7cf03d;
    margin: 20px;
    text-align: center;
}

.projects h2{
    box-shadow: 0px 0px 10px #7cf03d;
    margin: 20px;
    text-align: center;
}

.contact h2{
    box-shadow: 0px 0px 10px #7cf03d;
    margin: 20px;
    text-align: center;
}

h4{
    font-size: 20px;
}

.restaurant-web {
    border: 6px groove yellowgreen;
    height: 400px;
    width: 300px;
    text-align: center;
    color: white;
    padding: 100px;
    margin-left: 30px;
    background-image: url(/images/Screenshot\ \(7\).png);
    background-size: cover;
    border-radius: 20px;

}


.Blog-web{
    border: 6px groove yellowgreen;
    height: 400px;
    width: 300px;
    color: black;
    text-align: center;
    padding: 80px;
    margin-left: 30px;
    background-image: url(/images/img1.png);
    background-size: cover;
    border-radius: 20px;
}

.Ecommerce-web{
    border: 6px groove yellowgreen;
    height: 400px;
    width: 300px;
    text-align: center;
    font-size: 10px;
    color: black;
    padding: 100px;
    margin-left: 30px;
    background-image: url(/images/img3.png);
    background-size: cover;
    border-radius: 20px;
}

.Event-web{
    border: 6px groove yellowgreen;
    height: 400px;
    width: 300px;
    text-align: center;
    color: white;
    padding: 100px;
    margin-left: 30px;
    background-image: url(/images/Screenshot\ \(11\).png);
    background-size: cover;
    border-radius: 20px;
}

.skill-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 700px;
    margin-bottom: 5px;
    align-content: center;
}

.skills h2{
    box-shadow: 0px 0px 10px #7cf03d;
    margin: 20px;
    text-align: center;
}

.skill-cont{
    font-size: xx-large;
}

.fig{
    gap: 15px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 800px;
}

.home-img .img-box .img-items{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-items img{
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars{
    100% {
         transform: translateY(0%);
    }
}

textarea{
    height: 100px;
    width: 250px;
}

form{
text-align: center;
border: 5px groove black;
padding: 20px;
}

.name{
    width: 20px;
}

.form-button{
    background-color: #7cf03d;
    box-shadow: 0px 0px 10px #7cf03d;
    width: 100px;
    border-radius: 20px;
    font-size: medium;
}

.form-button:hover{
    background-color: #1f242d;
    transform: scale(1.1);
    transition: .5s;
    color: white;
    box-shadow: none;
}

footer{
    background-color: #7cf03d;
    text-align: center;
    color: #1f242d;
}